* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: Arial, sans-serif;
    background-color: #bad7f4;
    line-height: 1.6;
    /* padding: 20px; */
}

/* Header styles */
header {
    background-color: #1c6596;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    margin-right: auto; /* Pushes the buttons to the left */
    width:100%;
}

.movies-header{
    align-items: center;
    gap: 30px;
    font-size: 37px;

    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #383b3b;

}
.nav-button {
    background-color: #4c9daf;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; /* Added round edges */
}

.nav-button:hover {
    background-color: #458ba0;
}

.active {
    background-color: #4c9daf;
}
.nav-buttons-right {
    align-items: center;
    gap: 30px;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #d0e4ea;
    display: flex;
    margin-left: auto; /* Pushes the buttons to the right */
}

.nav-button-right {
    background-color: #4c9daf;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; /* Added round edges */
    margin-left: auto; /* Pushes the button to the right */
}

.nav-button-right:hover {
    background-color: #458ba0;
}

/* Container and general styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.btn {
    font-size: 20px;

    background-color: #8db1bd;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}
.page-title {
    font-size: 36px;
    color: #143d59;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn:hover {
    transform: scale(1.05);

    background-color: #007095;
}

.auth-links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
}

.auth-link {
    color: #008CBA;
    text-decoration: none;
    font-size: 14px;
}

.auth-link:hover {
    text-decoration: underline;
    color: #005f8a;
}